:root {
    --background-color: #1f2937;
    --background-color2: rgba(118, 118, 118, 0.573);
    --text-color1: #ecec51;
    --text-color2: #E5E7EB;
    --button-color: #3882F6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 218, 218);
}

ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    color: var(--text-color2);
    font-weight: lighter;

}
a {
    color: var(--text-color);
    text-decoration: none;
}
.blockbusterlogo {
    height: 8vw;
    width: auto;
    margin: 5px;
}

.header {
    background-color: var(--background-color);
    color: #F9FAF8;
    width: 100vw;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vw;
    padding-left: 3vw;

}
.links {
    padding-right: 5vw;
}
.header-left {
    width: 33vw;
    padding-bottom: 5vw;
}
.heroMainText {
    font-size: 48px;
    color: var(--text-color1);
    font-weight: bold;
}
.blockbusterPlus {
    font-weight: bold;
}
.heroSubText {
    color: var(--text-color2);
    letter-spacing: 0.6px;
    text-align: justify;
    font-size: 1.25rem;

}
.signupButton1 {
    background-color: var(--text-color1);
    color: var(--background-color2);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border-radius: 40px;
    border-style: none;
    padding: .5vw 1vw;
    height:fit-content;
    width: fit-content;
}
.signupButton1:active{
    background-color: var(--background-color2);
    color: var(--text-color1);
    border: white solid .5px;
}
.signupButton1:hover{
    background-color: var(--text-color1);
    color: var(--background-color2);
    border: white solid .5px;
}

.headerImage {
    position: relative;
    height: 28vw;
    width: 48vw;
    object-fit: cover;
    border-radius: 1%;
    margin-right: 6vw;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 4vw;
    background-color: var(--background-color);
    padding-bottom: 5vw;
    padding-top: 2vw
}
/*CSS for Header*/


.section1-title {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

.section1-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 3vw;
}

.section1-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section1-description {
    display: flex;
    justify-content:center ;
    align-items: center;
    padding-bottom: 1.5vw;
    font-size: 1.25rem;
}

.section1-img {
    height: 15vw;
    width: 13vw;
    border: solid 3px lightblue;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 3px 6px 8px lightyellow;
}

/* Section 1 CSS */

/* Section 2 CSS */

.section2 {
    background-color: var(--background-color2);
    color: var(--text-color2);
    padding-left: 15vw;
    padding-right: 15vw; 
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-quote {
    font-size: 2rem;
    font-style: italic;
    text-align: justify;
}

.section2-quote-source {
    font-size: 1.5rem;
    text-align: end;
    font-weight: bold;
    font-style: italic;
}

/* End of section 2 styling */

/* Start of section 3 styling */

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vw 10vw;
    color: var(--text-color2);

}

.section3-signup-container {
    background-color: var(--background-color);
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
    border-radius: 10px;
    margin-top: 0;
}
.signupcontainer-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
